<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <form action="/new" method="POST">
    <input type="url" name="url" required placeholder="Enter URL to shorten">
    <button type="submit">Encurtar URL</button>
  </form>

  <h2>URLs Encurtadas</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Code</th>
        <th>URL Encurtada</th>
        <th>URL Original</th>
        <th>Clicks</th>
        <th>Data de Criação</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% links.forEach(link => { %>
        <tr>
          <td><%= link.id %></td>
          <td><%= link.code %></td>
          <td><a href="/<%= link.code %>">/<%= link.code %></a></td>
          <td><a href="<%= link.url %>"><%= link.url %></a></td>
          <td><%= link.hits %></td>
          <td><%= link.createdAt.toLocaleString() %></td>
          <td>
            <form action="/<%= link.id %>/delete" method="POST" style="display:inline;">
              <button type="submit">Delete</button>
            </form>
            <a href="/<%= link.id %>/edit">Edit</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <h2>Top 10 Links Mais Acessados</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Code</th>
        <th>URL Encurtada</th>
        <th>URL Original</th>
        <th>clicks</th>
        <th>Data da Criação</th>
      </tr>
    </thead>
    <tbody>
      <% topLinks.forEach(link => { %>
        <tr>
          <td><%= link.id %></td>
          <td><%= link.code %></td>
          <td><a href="/<%= link.code %>">/<%= link.code %></a></td>
          <td><a href="<%= link.url %>"><%= link.url %></a></td>
          <td><%= link.hits %></td>
          <td><%= link.createdAt.toLocaleString() %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>
